# Ignore datasets and outputs
datasets/
outputs_baseline/
outputs_prev/
RS_Papers/
checks/
third_party/
Variant_1_output/
# Ignore checkpoints, logs, and cache
*.pt
*.pth
*.ckpt
__pycache__/
*.log
*.npy
*.pdf
# VSCode
.vscode/
